{% extends "base.html" %}
{% load users_tags %}
{% block content %}


<div class="container mt-5">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-fluid rounded-5"
                     style="width: 260px; height: 260px; object-fit: cover;" alt="Аватар">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">Почта: {{ user.email }}</h4>
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Телефон: {{ user.phone }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
                <div class="row g-0">
                    <a class="btn btn-outline-light" href="{% url 'users:update' %}" role="button">Редактировать профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}