# На основе данного примера создайте файл .env и передайте соответствующие свои настройки

# Секретный ключ приложения
SECRET_KEY=generate_secret_key

# Режим дебага
DEBUG=True(or_False)

# Настройки базы данный PostgreSQL
NAME=name_db
USER=example_user
PASSWORD=password
HOST=host_for_db
PORT=5432

POSTGRES_DB=name_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=password

# Настройки почты
EMAIL_HOST=smtp.yandex.ru(example)
EMAIL_PORT=465(example)
EMAIL_USE_TLS=False(or_True)
EMAIL_USE_SSL=True(or_False)
EMAIL_HOST_USER=example@yandex.ru
EMAIL_HOST_PASSWORD=password_for_apps_your_email

# Настройка кеширования
LOCATION=redis://redis:6379/1(example_for_cache)

# Ваш доверенный домен
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

#Docker Hub
DOCKER_HUB_USERNAME=examplelogin53

# укажите url для разворота но удаленной ВМ
SITE_URL=22.22.222.222