<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Osteria Mario{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">



    {% block extra_css %}
    {% endblock %}
</head>

{% load restaurant_tags %}
<body class="d-flex flex-column min-vh-100">
<!-- Фоновый блок на всю высоту -->
    <div class="restaurant-background"
         style="background-image: url('{{ 'restaurant/bd_rest.jpg'|media_filter }}');">
    </div>

<header>
    {% include "includes/nav_bar.html" %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% include "includes/footer.html" %}
</footer>


<script src="{% static 'js/color-modes.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}
{% endblock %}

</body>
</html>