{% extends "base.html" %}
{% load restaurant_tags %}

{% block title %}Osteria Grill - Наша кухня с итальянским акцентом.{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <div class="card h-100" style="max-width: 940px; margin-left: auto; margin-right: auto;">
                <div class="row g-0">
                    <div class="col-4 col-md-4 ms-2 my-2">
                        <img src="{{ content.rest_image.url }}"
                             class="img-fluid rounded-start"
                             alt="Italia"
                             style="height: 300px; object-fit: cover;">
                    </div>
                    <div class="col-8 col-md-7">
                        <div class="card-body p-3">
                            <h4 class="card-title">
                                <i class="fa-solid fa-certificate"></i>
                                {{ content.rest_name }}
                            </h4>
                            <p class="card-text">
                                {{ content.rest_title }}
                            </p>
                            <p class="card-text text-body-secondary small">
                                {{ content.rest_description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body p-4">
                    <h4 class="card-title text-light">
                        <i class="fa-solid fa-user-tie"></i>
                        {{ content.chef_headline }}
                    </h4>
                    <p class="card-text">
                        {{ content.chef_history }}
                    </p>
                    <ul class="small values-list text-body-secondary">
                        {% for award in content.chef_awards.splitlines %}
                        <li class="mb-2">{{ award }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'restaurant:about' %}" class="btn btn-outline-light mt-3">Узнать больше о шефе</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row g-4">
        <div class="col-1"></div>

        <div class="col-10">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body p-4">
                    <h4 class="card-title text-light">
                        <i class="fa-solid fa-fire"></i>
                        Перечень предоставляемых услуг
                    </h4>
                    <hr>

                    {% for service in services %}
                    <p class="card-text">
                        <i class="fa-solid fa-utensils"></i> _ {{ service.name }}
                    </p>
                    <ul class="list-unstyled small text-body-secondary">
                        <li>
                            <i class="fa-solid fa-glass-cheers"></i> {{ service.description }}
                        </li>
                    </ul>

                    <hr>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="col-1"></div>
    </div>
</div>

{% include "includes/contact_form.html" %}


{% endblock %}